# Importing Library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1.Load Dataset

In [ ]:
df=pd.read_csv('train.csv')

# display dataset contain

In [ ]:
df.head()

# 2.find the number of rows and columns

In [ ]:
df.shape

# 3. find datatype of each and every column

In [ ]:
df.dtypes

# 4.find Mean,median and mode of each and every column

In [ ]:
df.describe()

# 5.find the missing value of each and every column

In [ ]:
df.isnull().sum()

# 6.replace missing value with appropriate value

In [ ]:
def impute_median(series):
    return series.fillna(series.median())

In [ ]:
df.Age=df['Age'].transform(impute_median)

In [ ]:
df.isnull().sum()

In [ ]:
print(df['Cabin'].mode())

In [ ]:
print(df['Embarked'].mode())

In [ ]:
df['Cabin'].fillna(str(df['Cabin'].mode().values[0]),inplace=True)

In [ ]:
df['Embarked'].fillna(str(df['Embarked'].mode().values[0]),inplace=True)

In [ ]:
df.isnull().sum()

# 7.find the list of column with int or float

In [ ]:
df.columns

In [ ]:
data = df.select_dtypes(exclude='object').columns

In [ ]:
data

# 8.Visualize int or float column by histogram chart

In [ ]:
df['PassengerId'].hist()

In [ ]:
df['Survived'].hist()

In [ ]:
df['Pclass'].hist()

In [ ]:
df['Age'].hist()

In [ ]:
df['SibSp'].hist()

In [ ]:
df['Parch'].hist()

In [ ]:
df['Fare'].hist()

# 9.remove any two irrelavent column from dataset

In [ ]:
datas=df.drop(['Fare'] ,axis=1,inplace=True)

In [ ]:
df

# 10.remove any one or two rows from dataset

In [ ]:
data1=df.drop([df.index[0],df.index[1]])

In [ ]:
data1

11.unique value in cabin column

In [ ]:
df['Cabin'].unique()

In [ ]:
df['Cabin'].value_counts()